body{
background-color: blanchedalmond;
font-family: Arial, Helvetica, sans-serif;
margin: 10px;
}


.text2{
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}
.text2:hover{
    color:rgb(255, 255, 255);
    transform: scale(1.03);
    text-align: center;
}

.text3{
    text-align: center;
    color: rgb(0, 0, 0);
    transform: scale(1.03);
}
.text4{
    text-align: center;
    color:aquamarine
    transform: scale(1.03);
}

.img{
border-radius: 20px;
border-color: black;
text-align: center;

}


.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}